# Dependencies
node_modules
.pnp*
.yarn*

# Build output
.next
out
dist
build
coverage

# Env & secrets
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Editor
.DS_Store
.idea
.vscode

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Misc
*.local
*.log
